.cm__main {
	width: min-content;
	height: fit-content;

	border: 1px solid #83888d;
	background-color: hsl(0, 9%, 89%);

	/* padding: 0.9rem;
	padding-top: 0.4rem; */

	border-radius: 10px;

	transform: scale(0);
	position: absolute;

	transition: transform ease-in 100ms;
	transform-origin: top left;
}

.active {
	transform: scale(1);
}

.cm__main ul {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.cm__item {
	display: flex;
	padding: 0.9rem 0.9rem;
	padding-right: 5rem;
}

.cm__item:hover {
	background-color: rgb(246, 246, 246);
	border-radius: 10px;
}

.cm__item_img {
	height: 1.4rem;
	margin-right: 0.9rem;
}

.cm__text {
	color: #23272a;
	padding: 0;
	margin: 0;

	font-weight: 700;

	text-decoration: none;
	cursor: pointer !important;
}

.divider {
	border-top: 1px solid #83888d;
	width: 100%;
	margin: 0.4rem 0;
	padding: 0 0.9rem;
}
