/*  */
@font-face {
	font-family: "nunito";
	src: url("../fonts/static/Nunito-Black.ttf");
    font-weight: 900;
}
@font-face {
	font-family: "nunito";
	src: url("../fonts/static/Nunito-Bold.ttf");
    font-weight: 700;
}
@font-face {
	font-family: "nunito";
	src: url("../fonts/static/Nunito-Light.ttf");
    font-weight: 200;
}
@font-face {
	font-family: "nunito";
	src: url("../fonts/static/Nunito-Medium.ttf");
    font-weight: 400;
}
